/* リセットCSS */

@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
-webkit-appearance: none;
border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
/* height: auto;
/* width :auto; */
}





 /* CSS本文 */





html{
  background-color: #dcdcdc;
  
}



header{
    width: 100%;
    height: 100px;
    background-color: #646ccc;

}

.header-login{
  width: 20%;
  height: 100%;
  margin: auto;
  float: right;
}

.body{
  position: relative; 
  width: 100%;
  height: 100%;
}

.headerbtn{
  display: block;
	text-align: center;
 	text-decoration: none;
	width: 70%;
  height: 50%;
  float: right;
}

button#headerbtn{
  margin: 20px;
  padding: 1rem 2rem;
	font-weight: bold;
	border: none;
	background: #FFBBFF;
	color: #fff;
	border-radius: 100vh;
	transition: 0.5s;
  float: right;
}

button#headerbtn:hover {
	color: #fff;
	background: #FF66FF;
}


.login{
  float: right;
}


.homeicon{
  margin: 10px;
  float: right;
}

.prof-img{
  margin: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  float: right;
}

p#name{
  font-size: 12px;
}


#toplogo{
  width: 100px;
  height: 100px;
  float: left;
}


/* mainのCSS */

.recommend{
  margin: auto;
  width: 63%;
  height: 300px;
  border: 1px ;
  border-color: #333333;
  border-radius: 30px;
  margin-top:20px;
  margin-left:30px;
  background-color: white;
}


/* 検索画面 */

.search{
    margin: auto;
    width: 20%;
    height: 600px;
    border: 1px ;
   border-radius: 30px;
   display: flex;
   text-align: center;
   margin-top:50px;
   margin-bottom: 50px;
   margin-left:30px;
   float: left;
   clear: left;
   background-color: white;
   flex-flow: column;
}



p#serchtitle{
  text-align: center;
  margin: 5% 10%;
  width: 80%;
  border-bottom: solid 2px #333333;
}


.list{
    margin: auto;
    width: 40%;
    height: 600px;
    border: 1px ;
   border-radius: 30px;
   margin-top:50px;
   margin-left:30px;
   float: left;
   background-color: white;
       
}

.posts{
  margin: auto;
  width: 90%;
  height: 60%;
  border: 1px ;
  border-color: #333333;
 border-radius: 30px;
 margin-top:50px;
 margin-left:30px;
 float: left;
 background-color: #cccccc;
}

.btn-list{
   margin: 20px;
   display: flex;
}


.btn-list li {
    display: block;
    text-align: center;
    position: relative;
    margin: auto;
    padding: 1em 2em;
    width: 150px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    border-radius: 50vh;
    transition: 0.3s;
  }
  
  .btn-list li::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    border-radius: 50vh;
  }
  
  .btn-list li::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 32px;
    transform: translateY(-50%) rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
  }
  
  .btn-list li:hover {
    text-decoration: none;
    background-color: #FFBBFF;
  }

  .post-btn{
    text-align: right;
    width: 100%;
  }

  /* セレクトボックス */

  .cp_ipselect {
    overflow: hidden;
    width: 85%;
    height: 50px;
    margin: 1.5em auto;
    text-align: center;
     
  }
  .cp_ipselect select {
    

    color: #333;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .cp_ipselect select::-ms-expand {
      display: none;
  }
  .cp_ipselect.cp_sl04 {
    position: relative;
    border-radius: 2px;
    border: 2px solid #333333;
    border-radius: 50px;
    background: #ffffff;
  }
  .cp_ipselect.cp_sl04::before {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #333333;
    pointer-events: none;
  }
  .cp_ipselect.cp_sl04 select {
    padding: 8px 38px 8px 8px;
    color: #333333;
  }

 
  /* 投稿画面CSS */

  textarea{
    width: 80%;
    height: 40%;
    border-radius: 20px ;
    margin: auto;
  }

  .Homebtn{
    text-align: left;
  }

  .report{
    margin: auto;
    width: 60%;
    height: 80%;
    margin-top:50px;
    border: 1px ;
    border-radius: 30px;
    background-color: white;
    flex-flow: column;
}

.btn-list{
  margin: 20px;
  display: flex;
}

  /* 追加した（池田） */
  .recommend_datas{
    display: flex;
    gap: 50px;
  }

.serchtitle{
  text-align: center;
  margin: 0 10%;
  border-bottom: solid 2px #333333;
  }

  .girls-img{
    text-align: center;
  }

  .report-text{
    text-align: center;
    padding: 10px;
  }